h3 {
  margin: 0;
}

.panel {
  padding: 10px 20px;
}

.picture_username {
  margin: 0;
}

.picture_image {
  margin-bottom: 10px;
}

.user_icon {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 5px;
}

#recommend {
  font-size: 16px;
}
